[user]
	email = jasonbipaterson@gmail.com
	name = Jason Paterson
[pull]
	rebase = false
[core]
	excludesfile = ~/.gitexcludes
[rebase]
	autosquash = true
[fetch]
	prune = true
[diff]
	indentHeuristic = true
	algorithm = histogram
